<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protótipo</title>
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/style-index.css">
</head>
<nav>
<a id="cimae" href="land.php">Início</a>
<a id="cimae" href="resultados.php">Consulta</a>
<a id="cimae" href="relatorios.php">Relatorios</a>
<a id="cimae" href="perfil.php">Perfil</a>
<a id="cimae" href="sobre.html">Sobre</a>

<a id="cimae" class="logout" href="/logout">Logout</a>


</nav>
<body>
    <div class="div1">
        <h3><center>Biblioteca Virtual</h3> </center> 
        <div class="samuel">
            
           <h3> <p>Bem-vindo, {{pessoa}} , ao nosso site de Biblioteca Virtual! Com ele, você poderá facilmente pesquisar 
            e encontrar o livro que procura em nosso vasto acervo, composto por uma ampla variedade de gêneros e categorias,
            com apenas alguns cliques.
            <p> Nosso programa de pesquisa foi projetado para ser intuitivo e fácil de usar, permitindo que você encontre 
            rapidamente os livros que precisa. Você poderá pesquisar livros por título, autor, gênero e até mesmo por ISBN.
            <p>Estamos felizes em tê-lo conosco e esperamos que você desfrute de todas as facilidades que nosso site oferece. </h3>  
            
            </div>

        
    </div>
      
</body>
</html>